@font-face {
    font-family: 'Chunk';
    src: url(/assets/chunkfive-reg-titles.woff2);
}

@font-face {
    font-family: 'CascadiaCode';
    src: url(/assets/cascadia-code-parrafos.woff);
}

@font-face {
    font-family: 'Silium';
    src: url(/font/silium-especial.woff);
}

@font-face {
    font-family: 'ChunkPrint';
    src: url(/font/ChunkFivePrint.woff);
}

.titulo{
    font-family: 'Chunk';
    text-align: center;
}
h3{
    text-align: center;
}
.parrafos{
    margin-top: 10px;
    padding: 40px;
    background-image: url(/img/shoes-g21c79d933_640.jpg);
    background-size: 20vw;
    background-repeat: repeat;
    border:dashed;
    color: yellowgreen;
}
p{
    font-size: xx-large;
    color: yellow;
}

