*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Chunk';
    src: url(./../assets/chunkfive-reg-titles.woff2);
}

@font-face {
    font-family: 'CascadiaCode';
    src: url(./../assets/cascadia-code-parrafos.woff);
}

@font-face {
    font-family: 'Silium';
    src: url(./../font/silium-especial.woff);
}

@font-face {
    font-family: 'ChunkPrint';
    src: url(./../font/ChunkFivePrint.woff);
}
body{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
marquee{
    font-family: 'Chunk';
    color: yellow;
}
h3{
    font-family: 'CascadiaCode';
}
p{
    font-family: 'CascadiaCode';
}
a{
    font-family: "Chunk";
    font-size: x-large;
    text-align: center;
    color: black;
    padding: 10px;
}
.menu{
    display: flex;
    text-align: center;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    padding: 30px;
    font-size: x-large;
}
.logo{
    display: flex;
    justify-content: right;
    height: 100%;
    width: 100%;
}
.logo-img{
    width: 15%;
    width: 16;
}
ul li{
    display: inline-block;
    padding: 10px ;
}
ul li a:hover{
    color: rgb(190, 205, 50);
}
header{
    justify-content: space-between;
    width: 100%;
    height: 500px;
}
.slider-principal{
    display: flex;
    width: 100%;
    height: 430px;
}
.slider-principal .img-slider{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.slider-principal .img-slider:hover{
    cursor: default;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen{
    margin-top: 15px;
    width: 450px;
    height: 200px;
    border-radius: 15%;
}
.sobre-nosotros .contenedor-texto{
    margin-top:15px;
    width: 500px;
    height: 250px;

}
.contenedor-texto h3{
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
}
.contenedor-texto h3 span{
    margin-top: 15px;
    display: flex;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}
.contenedor-texto p{
    font-size: large;
    margin-top: 15px;
    padding: 0px 0px 30px 15px;
    font-weight: 400;
    text-align: justify;
    color: black;
}
.contenedor-franja{
    height: 150px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    background-image: url(../img/logo-repetido.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: rgba(50,50, 93, 0.688)0px 30px 60px -12px; 
}
.titulo-final{
    text-align: right;
    padding: 30px;
}
.button{
    margin-top: 15px;
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}
.button a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 102, 0, 0.589);
    border-radius: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.button a:hover{
    transform: scale(1.2);
    background-color:#fff;
}
/*INICIO ESTILO CATALAGO*/
.button{
    margin-top: 15px;
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}
.button a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 102, 0, 0.589);
    border-radius: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.button a:hover{
    transform: scale(1.2);
}
.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
.img-grid:hover{
    transform: scale(1.05);
    transition: all ease-out 0.2s;

}
/*.subir{
    height: 40px;
    width: 40px;
    line-height: 20px;
    font-family: 25px;
    color: #fff;
    background-color:orange;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 3px solid #fff;
}
.subir:hover{
    box-shadow: 0 0 5px #fff;
}*/

/*codigo responsive*/
@media screen and(max-width: 800px){
    .container-img{
        width: 95;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and(max-width: 500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }
}
/*INICIO ESTILO NOSOTROS*/
.titulo{
    font-family: 'Chunk';
    text-align: center;
}
h3{
    text-align: center;
}
.parrafos{
    margin-top: 10px;
    padding: 40px;
    background-image: url(/img/shoes-g21c79d933_640.jpg);
    background-size: 20vw;
    background-repeat: repeat;
    border:dashed;
    color: yellowgreen;
}
p{
    font-size: xx-large;
    color: yellow;
}
/*INICIO ESTILO CONSULTAS*/
fieldset{
    background-image: url(/img/logo-repetido.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
    text-align: center;
}
label{
    font-family: 'Chunk';
    color:yellow;
}
.boton-enviar{
    padding: 9px;
    border-radius: 12px;
    background: yellow;
}
legend{
    font-family: 'Chunk';
    color: yellow;
    font: xx-large;
}